[Unit]
Description=tunnel to fleetsie host

[Service]
User=1000
Group=1000
ExecStart=/opt/fleetsie/ssh_tunnel.sh
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal
[Install]
WantedBy=multi-user.target
